.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

pubspec.lock
.packages
.flutter-plugins
.flutter-plugins-dependencies
.idea
.vscode
.metadata

.key.jks
.neopolis.iml
build
.history
.dart_tool
build/
flutter*.log
pubspec.lock
